

*{
    margin: 0;
    padding: 0;
}

/* Configuração da página princial */

.CorpoPaginaPrincipal{
background: #ebe7e7;
background: -moz-linear-gradient(top, #6d6d6d 0%, #224ead 100%);
background: -webkit-linear-gradient(top, #6d6d6d 0%, #224ead 100%);
background: linear-gradient(to bottom, #6d6d6d 0%, #224ead 100%);
}


#menu{
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
}

#menu a:hover{
    background-color: rgba(95, 105, 238, 0.514);
    color: white;
    
}

#menu li{
    position:relative;
    float:right;
    border-right:1px solid #c0c0c0;
    padding: 20px;
    background-color: lightgray;
    }


  #meu-nome{
    font-family: "Courier New", Courier, monospace;
    position: relative;
    top: 15vh;
    left: -75vh;
    color: rgb(8, 8, 8);
    text-shadow: rgb(71 71 71) 3px 5px 2px;
    font-size: 367%;
    text-align: end;
    font-style: italic;
}


.desenho{
    position: relative;
    bottom: -81px;
    left: 451px;
    width: 65%;
}

main p {
    display: inline;
    text-align: center;
    position: absolute;
    font-size: x-large;
    top: 37%;
    width: 50%;
    
}

footer{
    display: block;
    text-align: center;
}

/*Configuração mais sobre*/

.CorpoMaisSobre{
    background-color: #8daef3;
}

.TituloMaisSobre{
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15%;
}

.listaMaisSobre{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    list-style: inside;
    list-style-type: lower-roman;
    line-height: 50px;
}

.listaHabilidades{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    list-style: inside;
    list-style-type: square;
    line-height: 35px;
}

.FotoMaisSobre{
    display: block;
    width: 20%;
    border-radius: 80%;
    margin: auto;
}

.botãoVoltarMs{
    padding: 5px 0px 5px 0px;
    margin-left: 430px;
    margin-top: 15px;
    margin-bottom: 18px;
    width: 15%;
    border-radius: 15%;
    font-weight: bolder;
    background-color: rgb(0, 102, 255);
}

.botãoVoltarMs:hover{
    background-color: #021642;
    color: #ebe7e7;
}

/*Configuraçao página formulário*/

.corpoContato{
    background-color: #8daef3;
}

.formulario{
    text-align: center;
    line-height: 600%;
}

.botaoEnviar{
    width: 18%;
    font-weight: 900;
    background-color: rgb(0, 102, 255);

}

.botaoEnviar:hover{
    background-color: #021642;
    color: #ebe7e7;

}

.botãoVoltarContato{
    padding: 5px 0px 5px 0px;
    margin-left: 430px;
    margin-top: 15px;
    margin-bottom: 18px;
    width: 15%;
    border-radius: 15%;
    font-weight: bolder;
    background-color: rgb(0, 102, 255);

}

.botãoVoltarContato:hover{
    background-color: #021642;
    color: #ebe7e7;
}